[alias]
	pushf = push --force-with-lease
[user]
	email = tobiasgiese@gmail.com
	name = Tobias Giese
[includeIf "gitdir:~/projects/github.com/Daimler/"]
	email = tobias.giese@daimler.com
[credential]
	helper = store
[pull]
	rebase = true

